header {
  position: absolute;
  width: 100%;
  top: 0px;
  background-color: $white;
  width: 100%;
  @media screen and (max-width: 576px) {
    padding-bottom: 50px;
  }

  .content-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 178px;
    z-index: 1000;
    @media screen and (max-width: 576px) {
      height: 120px;
      padding-top: 20px;
    }

    .menu-left,
    .menu-right {
      .nav-menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 30px;
        align-items: center;

        @media screen and (max-width: 991px) {
          gap: 20px;
        }

        @media screen and (max-width: 576px) {
          gap: 15px;
        }

        li {
          a {
            font-family: $font2;
            font-size: 16px;
            color: $black;
            text-decoration: none;
            transition: opacity 0.3s ease;

            @media screen and (max-width: 991px) {
              font-size: 14px;
            }

            @media screen and (max-width: 576px) {
              font-size: 12px;
            }

            &:hover {
              opacity: 0.6;
            }
          }

          &.current-menu-item,
          &.current_page_item {
            a {
              font-weight: 600;
            }
          }
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .menu-left {
      flex: 1;
      justify-content: flex-start;
    }

    .menu-right {
      display: flex;
      justify-content: flex-end;

      .nav-menu {
        margin-right: 30px;

        @media screen and (max-width: 991px) {
          margin-right: 20px;
        }
      }
    }

    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
      display: inline-block;
      z-index: 1000;
      @media screen and (max-width: 576px) {
        transform: translateX(-50%);
        width: 50%;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }

    .repeater-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      gap: 22px;

      @media screen and (max-width: 991px) {
        gap: 15px;
      }

      @media screen and (max-width: 576px) {
        gap: 10px;
      }

      @media screen and (max-width: 400px) {
        padding-top: 0px;
      }

      .repeater-item {
        img {
          height: 50px;

          @media screen and (max-width: 576px) {
            height: 30px;
          }
        }
      }
    }
  }
}
